@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

body {
	width: 100%;
	background: #f2f2f2;
	margin: 0;
	padding: 0;
	position: static;
}

html {
	background: #f2f2f2;
	margin: 0;
	padding: 0;
	position: static;
}

a {
	text-decoration: none;
	color: #3F51B5;
}

a:visited {
	color: #3F51B5;
}
