<div layout="row" layout-align="center">
	<md-content class="md-whiteframe-z1" layout-margin style="max-width: 600px; border-radius: 4px;" flex="grow">
		<div layout="column" layout-padding>
			<div layout-padding>
				<h1 class="md-headline">Sign In</h1>
			</div>
			<div layout-padding ng-if="hasPassword">
				<form>
					<md-input-container>
						<label>Email Address</label>
						<input name="username" type="text" ng-disabled="true" ng-model="username" >
					</md-input-container>
					<md-input-container>
						<label>Password</label>
						<input name="password" type="password" ng-model="password" autofocus>
					</md-input-container>
					<div layout="row" layout-align="end">
						<md-button class="md-primary" ng-click="login()">Sign In</md-button>
					</div>
				</form>
			</div>
			<md-divider ng-if="hasPassword"></md-divider>
			<div layout-padding>
				<div ng-if="!hasPassword">
					<p class="md-body-1">Dear <strong>{{username}}</strong>, it seems that you don't yet have a password.</p>
					<p class="md-body-1">We can send you an email with a link that lets you log in.</p>
				</div>
				<div ng-if="hasPassword">
					<p class="md-body-1">If you don't want to (or can't) sign in with your password, we can send you a link in an email that lets you in.</p>
				</div>
				<div layout="row" layout-align="end">
					<md-button class="md-primary" ng-click="sendLink()" ng-disabled="sending">Send Me a Link</md-button>
				</div>
			</div>
		</div>
	</md-content>
</div>
