<div layout="row" layout-align="center">
	<md-content class="md-whiteframe-z1" layout-margin style="max-width: 600px; border-radius: 4px;" flex="grow">
		<div layout="column" layout-padding>
			<div layout-padding>
				<h1 class="md-headline">I was born ready</h1>
			</div>
			<div layout-padding>
				<p class="md-body-1">You are just one step away from the language lesson of your life. Click the button below and get a chat partner.</p>
			</div>
			<div layout-padding>
				<div layout="row" layout-align="center">
					<md-button class="md-primary md-raised" ng-click="ready()">To the video room!</md-button>
				</div>
			</div>
		</div>
	</md-content>
</div>

<!--
<div layout="row" layout-align="center">
	<md-content class="md-whiteframe-z1" layout-margin style="max-width: 600px; border-radius: 4px;" flex="grow">
		<div layout="column" layout-padding>
			<div layout-padding>
				<h1 class="md-headline">Test</h1>
			</div>
			<div layout-padding>
				<p class="md-body-1">This area is to test video communication easily. Choose a name and wait for a partner to join.</p>
			</div>
			<div layout-padding>
				<md-input-container md-no-float>
					<input ng-model="userId" placeholder="Chosen user ID">
				</md-input-container>
				<div layout="row" layout-align="center">
					<md-button class="md-primary md-raised" ng-click="ready()">To the video room!</md-button>
				</div>
			</div>
		</div>
	</md-content>
</div>
-->




