<div layout="row" layout-align="center">
	<md-content class="md-whiteframe-z1" layout-margin style="max-width: 600px; border-radius: 4px;" flex="grow">
		<div layout="column" layout-padding>
			<div layout-padding>
				<h1 class="md-headline">Profile Picture</h1>
			</div>
			<div layout-padding>
				<p class="md-body-1">Let's use your camera to shoot a nice picture of you.</p>
			</div>
			<div layout-padding>
				<div style="width: 128px; height: 128px; margin-left: auto; margin-right: auto;">
					<dhm-profile-camera picture-width="256" picture-height="256" active="cameraActive" snap="cameraSnap" image-data="imageData"></dhm-profile-camera>
				</div>
			</div>
			<div layout-padding>
				<div layout="row" layout-align="center">
					<p class="md-caption">Smile! :)</p>
				</div>
			</div>
		</div>

		<div layout="row" layout-align="end center" layout-padding style="background: rgba(0,0,0,0.1)">
			<md-button ng-hide="cameraActive" ng-click="photoActive()" class="md-primary">Turn on Camera</md-button>
			<md-button ng-hide="imageData || !cameraActive" ng-click="takePhoto()" class="md-primary">Snap</md-button>
			<md-button ng-show="imageData" ng-click="takePhoto()">Retry</md-button>
			<md-button ng-show="imageData" ng-click="upload()" ng-disabled="uploading" class="md-primary">Upload</md-button>
		</div>
	</md-content>
</div>
