<md-content md-theme="video" window-resize dhm-size-watcher="contentSize" style="background: #222; overflow: hidden; position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 5;" id="fs" layout="column" ng-mousemove="mouseMove()">

	<video ng-if="localheimManager.state === 'connected'" dhm-src-object="localheimManager.remoteStream" dhm-max-video-size="contentSize" dhm-center autoplay style="z-index: -1;"></video>

	<video dhm-src-object="localheimManager.localStream" dhm-max-video-size="{w:contentSize.w/4,h:contentSize.h/4}" autoplay muted style="transform: scale(-1, 1); -webkit-transform: scale(-1, 1); border: solid rgba(255, 255, 255, 0.2) 2px; position: absolute; bottom: 10px; right: 10px; z-index: 20;" ng-if="!$media('sm') || localheimManager.state === 'connected'"></video>

	<div style="position: absolute; top: 10px; right: 10px; z-index: 20" ng-show="showControls" class="fade">
		<md-button ng-click="toggleFullscreen()" class="md-icon-button" aria-label="Fullscreen">
			<md-icon>aspect_ratio</md-icon>
		</md-button>
	</div>

	<div ng-if="localheimManager.state === 'connecting'" dhm-center style="text-align: center;">
		<md-progress-circular md-mode="indeterminate" style="margin-left: auto; margin-right: auto;"></md-progress-circular>
		<p>Connecting to Daheim network</p>
	</div>

	<div ng-if="localheimManager.state === 'need-partner'" dhm-center style="text-align: center;">
		<md-progress-circular md-mode="indeterminate" style="margin-left: auto; margin-right: auto;"></md-progress-circular>
		<p>Looking for a chat partner</p>
	</div>

	<div ng-if="localheimManager.state === 'negotiate'" dhm-center style="text-align: center;">
		<md-progress-circular md-mode="indeterminate" style="margin-left: auto; margin-right: auto;"></md-progress-circular>
		<p>Connecting to partner</p>
	</div>

	<div ng-if="localheimManager.state === 'partner-reconnect'" dhm-center style="text-align: center;">
		<md-progress-circular md-mode="indeterminate" style="margin-left: auto; margin-right: auto;"></md-progress-circular>
		<p>Waiting for partner to reconnect</p>
	</div>

	<div ng-if="localheimManager.state === 'closed' &amp;&amp; localheimManager.closeReason !== 'replaced'" dhm-center style="text-align: center;">
		<p>Your conversation has ended.</p>
		<md-button ng-click="start()" class="md-primary md-raised">Find a new one</md-button><md-button ng-click="$location.path('/')">go back</md-button>
	</div>

	<div ng-if="localheimManager.state === 'closed' &amp;&amp; localheimManager.closeReason === 'replaced'" dhm-center style="text-align: center;">
		<p>You have signed in with another device.</p>
		<md-button ng-click="start()" class="md-primary md-raised">Reconnect</md-button><md-button ng-click="$location.path('/')">go back</md-button>
	</div>


	<div ng-if="localheimManager.state === 'need-stream'" dhm-center style="text-align: center;">
		<p>Please enable your camera!</p>
	</div>

	<style>
		/* Hack to handle readonly md-chips correctly */
		.md-chips .md-chip .md-chip-content {
			padding-right: 0;
		}

		.md-chips-static .md-chips .md-chip {
			padding-right: 12px;
		}


		.fade.ng-hide-add {
			transition: all linear 0.2s;
		}

		.fade.ng-hide-remove {
			transition: all linear 0.5s;
		}

		.fade {
			opacity: 1;
		}

		.fade.ng-hide {
			opacity: 0;
		}
	</style>

	<div flex ng-if="localheimManager.state === 'match' || localheimManager.state === 'accepted'" layout="column" layout-align="start center" style="overflow-y: scroll;">
		<md-content flex="initial" md-scroll-y layout="row" layout-align="center start" style="width: 100%">
			<div flex="50" flex-sm="95" layout="column">
				<div layout="column" layout-align="start center">
					<div layout="column" layout-align="center center" flex>
						<img ng-src="https://{{config.storageAccount}}.blob.core.windows.net/public/users/{{localheimManager.partner.userId}}/picture.png" style="width: 150px; height: 150px; border-radius: 50%; margin-top: 10px;" />
						<p><b>{{localheimManager.partner.profile.name}}</b></p>
					</div>
				</div>
				<div layout="column" layout-align="start start" layout-margin>
					<div>
						<h3 class="md-title">Spoken Languages</h3>
						<md-chips readonly="true" ng-model="localheimManager.partner.profile.languages" class="md-chips-static">
							<md-chip-template>
								<strong>{{$chip.language}}</strong>
								<em>({{$chip.level}})</em>
							</md-chip-template>
						</md-chips>
					</div>
					<div>
						<h3 class="md-title">Likes to talk about</h3>
						<md-chips readonly="true" ng-model="localheimManager.partner.profile.topics" class="md-chips-static">
						</md-chips>
					</div>
				</div>
			</div>
		</md-content>

		<div flex="none" layout="row" layout-align="center center" style="width: 100%">
			<div flex="50" flex-sm="95" layout="column">
				<div flex layout="row" layout-align="center center" style="z-index: 30;">
					<div flex layout="row" layout-align="start">
						<span flex>{{countdown / 1000 | number:0}}</span>
					</div>
					<div flex layout="row" layout-align="end">
						<md-button flex ng-disabled="localheimManager.state === 'accepted'" ng-click="reject()">Reject</md-button>
						<md-button flex ng-disabled="localheimManager.state === 'accepted'" ng-click="accept()" class="md-primary md-raised">Accept</md-button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-show="localheimManager.state !== 'match' &amp;&amp; localheimManager.state !== 'accepted' &amp;&amp; localheimManager.state !== 'closed' &amp;&amp; (localheimManager.state !== 'video' || showControls)" style="z-index: 30; position: absolute; bottom: 10px; left: 0; right: 0;" layout="row" layout-align="center" class="fade">
		<md-button class="md-warn md-primary" ng-class="{'md-raised': state === 'video'}" ng-click="klose()">Exit Conversation</md-button>
	</div>

</md-content>
