<md-content md-theme="video" layout="column" window-resize dhm-size-watcher="contentSize" style="background: #222; overflow: hidden; position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 5;" id="fs">

	<div style="position: absolute; z-index: 10">
		<p>Connection status: {{socket_state}}</p>
		<div layout="row" layout-align="start center" layout-wrap>
			<md-button ng-click="klose()">Close</md-button>
		</div>
	</div>

	<video dhm-src-object="remoteStream" dhm-max-video-size="contentSize" dhm-center autoplay style="border: solid transparent 1px; position: absolute;"></video>
	<md-progress-circular ng-if="!remoteStream" dhm-center md-mode="indeterminate"></md-progress-circular>
	<video dhm-src-object="localStream" dhm-max-video-size="{w:contentSize.w/4,h:contentSize.h/4}" autoplay muted style="transform: scale(-1, 1); -webkit-transform: scale(-1, 1); border: solid transparent 1px; position: absolute; bottom: 10px; right: 10px;"></video>

	<!--

	<div layout="row" layout-align="center center">
			<div id="lenyeg" flex="60" flex-sm="95" flex-md="95" style="position: relative;">
				<video dhm-resize="remoteResized()" ng-if="callState=='connected'" dhm-src-object="remoteVideoObject" autoplay style="border: solid black 1px; width: 100%; max-height: {{windowHeight - 64}}px"></video>
				<div class="fourthree" ng-if="callState!=='connected'">
					<div style="border: solid black 1px; width: 100%; background-color: pink; position: absolute; top: 0; left: 0; bottom: 0; right: 0; text-align: center;">Waiting for video</div>
				</div>
				<video dhm-src-object="localVideoObject" autoplay muted style="transform: scale(-1, 1); -webkit-transform: scale(-1, 1); border: solid black 1px; margin-right: -2px; margin-bottom: 3px; position: absolute; bottom: 10px; right: 10px; width: {{localSize.w}}px; height: {{localSize.h}}px;"></video>
			</div>
	</div>
	-->

</md-content>
