<md-content  md-theme="video" layout="column" window-resize dhm-size-watcher="contentSize" style="background: black; overflow: hidden; position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 5;" id="fs">

	<div style="position: absolute; z-index: 10">

	<p>Connection status: {{socket_state}} {{volume}} | ICE Connection: {{iceConnectionState}} | ICE Gathering: {{iceGatheringState}} | Signaling: {{signalingState}} | {{windowHeight}} | Call State: {{callState}}</p>
	<div layout="row" layout-align="start center" layout-wrap>
		<md-input-container md-no-float>
			<input ng-model="userId" placeholder="User ID">
		</md-input-container>
		<md-button ng-click="signIn()">Sign In</md-button>
		<md-button ng-click="ready()">Ready</md-button>
		<md-button ng-click="klose()">Klose</md-button>
		<md-button ng-click="stats($event)">Stats</md-button>
		<md-button ng-click="fs()">FS</md-button>
	</div>

	<style>
	.fourthree {
		position: relative;
		width: 100%;
	}

	.fourthree:before {
		content: "";
		display: block;
		padding-top: 75%; 	/* initial ratio of 1:1*/

		md-progress-circular.thin .md-spinner-wrapper .md-inner .md-half-circle, md-progress-circular.thin .md-spinner-wrapper .md-inner .md-gap {
		    border-width: 5px;
		}
	}

	</style>

	</div>

	<video dhm-src-object="remoteStream" dhm-max-video-size="contentSize" dhm-center autoplay style="border: solid white 1px; position: absolute;"></video>
	<video dhm-src-object="localStream" dhm-max-video-size="{w:contentSize.w/4,h:contentSize.h/4}" autoplay muted style="transform: scale(-1, 1); -webkit-transform: scale(-1, 1); border: solid white 1px; position: absolute; bottom: 10px; right: 10px;"></video>

	<!--

	<div layout="row" layout-align="center center">
			<div id="lenyeg" flex="60" flex-sm="95" flex-md="95" style="position: relative;">
				<video dhm-resize="remoteResized()" ng-if="callState=='connected'" dhm-src-object="remoteVideoObject" autoplay style="border: solid black 1px; width: 100%; max-height: {{windowHeight - 64}}px"></video>
				<div class="fourthree" ng-if="callState!=='connected'">
					<div style="border: solid black 1px; width: 100%; background-color: pink; position: absolute; top: 0; left: 0; bottom: 0; right: 0; text-align: center;">Waiting for video</div>
				</div>
				<video dhm-src-object="localVideoObject" autoplay muted style="transform: scale(-1, 1); -webkit-transform: scale(-1, 1); border: solid black 1px; margin-right: -2px; margin-bottom: 3px; position: absolute; bottom: 10px; right: 10px; width: {{localSize.w}}px; height: {{localSize.h}}px;"></video>
			</div>
	</div>
	-->

</md-content>
